.mynav {
    background-color: #2f2626;
}

.nav-item .nav-link {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.navbar-brand {
    color: #6059F6;
    font-size: 32px;
    font-weight: 500;
}

.btn {
    background-color: #6059F6;
    color: #fff;
}

.price {
    color: #6059F6;
    font-weight: 600;
}

.mylink {
    text-decoration: None;
    color: #000;
}

.mylink:hover {
    text-decoration: underline;
    color: #6059F6;
}